################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/BasicTestApp/DesignTimeBuild
/.vs/BasicTestApp/FileContentIndex
/.vs/BasicTestApp/v17
/.vs/ProjectEvaluation
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/BlazorApp1
/obj
/WebApplication3
/WebApplication3/bin/Debug/net8.0
/WebApplication3/obj
/WebApplication3/obj/Debug/net8.0
/WebApplication3/obj/project.assets.json
/WebApplication3/obj/project.nuget.cache
/WebApplication3/obj/Release/net8.0
/WebApplication3/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebApplication3/obj/Release/net8.0/WebApplication3.AssemblyInfo.cs
/WebApplication3/obj/Release/net8.0/WebApplication3.AssemblyInfoInputs.cache
/WebApplication3/obj/Release/net8.0/WebApplication3.assets.cache
/WebApplication3/obj/Release/net8.0/WebApplication3.csproj.AssemblyReference.cache
/WebApplication3/obj/Release/net8.0/WebApplication3.GeneratedMSBuildEditorConfig.editorconfig
/WebApplication3/obj/Release/net8.0/WebApplication3.GlobalUsings.g.cs
/WebApplication3/obj/WebApplication3.csproj.nuget.dgspec.json
/WebApplication3/obj/WebApplication3.csproj.nuget.g.props
/WebApplication3/obj/WebApplication3.csproj.nuget.g.targets
